@import url('https://fonts.googleapis.com/css2?family=GFS+Didot&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f8f7f6;
    font-family: 'GFS Didot', serif;
    color: #a17d60;
}

a {
    text-decoration: none;
    margin: 0 0.5rem;
}

nav {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    font-weight: bold;
}

.brand {
    width: 7%;
}

.navlinks {
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

body {
    display: grid;
}

.jumbo {
    position: relative;
    padding: 0 3rem 3rem 3rem;
    height: 40vh;
    overflow: hidden;
}

.jumbo h1 {
    position: absolute;
    bottom: 5%;
    left: 50%;
    padding: 1rem;
    width: 60%;
    translate: -50%;
    text-align: center;
    cursor: default;
    font-size: 2vh;
}

.margem {
    margin: 1rem;
}

.busca-index {
    display: flex;
    justify-content: center;
}

.busca-index form {
    width: 50%;
}

input, option, select {
    border: 1px solid #b59f8a;
    padding: 0.5rem;
}

.busca-index input {
    width: 100%;
}

.flex {
    display: flex;
}

.btn {
    border: none;
    background-color: #502515;
    width: 7rem;
    height: 2rem;
    color: white;
    cursor: pointer;
    padding: 0.5rem;
}

.self-center {
    align-self: center;
}

.text-center {
    text-align: center;
}

.btn-semfundo {
    border: none;
}

.grade,
.grade-painel {
    display: grid;
    grid-template-columns: 20rem 20rem 20rem;
    justify-content: center;
    text-align: center;
    gap: 3rem;
    margin: 0 5rem;
}

.grade-painel {
    grid-template-columns: 20rem 20rem;
}

hr {
    background-color: #b59f8a;
    height: 1px;
    border: none;
    width: 100%;
}

footer {
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.links-rodape {
    align-items: center;
}

.sobre {
    font-size: x-large;
    margin: 1rem 10rem;
    text-align: center;
}

.centralizado {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
}

.campo-form {
    margin: 1rem;
    display: flex;
    flex-direction: column;
}

.cabecalho-login {
    text-align: center;
}

.form-login {
    margin: 0 auto;
    width: 25%;
}

.margin-lateral-auto {
    margin: 0 auto;
}

.grid-form {
    display: grid;
    grid-template-columns: 16rem 16rem;
    justify-content: center;
    gap: 1rem;
}

.grupo-perfil {
    display: flex;
    align-items: center;
}

.foto-perfil {
    border-radius: 50%;
}

.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: max-content;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    bottom: -10rem;
    right: -2rem;
    padding: 0.5rem;
}

.dropdown-content a {
    padding: 1rem;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a:hover {
    background-color: #a17d6083;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #DAD6CB;
    padding: 1rem;
}

@media only screen and (max-width: 1200px) {
    .grade {
        grid-template-columns: 20rem 20rem;
    }

    .form-login {
        width: 50%;
    }
}

@media only screen and (max-width: 800px) {
    nav {
        flex-direction: column;
    }

    nav a {
        margin: 0.5rem;
    }

    .navlinks {
        flex-direction: column;
    }

    .jumbo {
        height: 20vh;
    }

    .brand {
        width: 20%;
    }

    .grade,
    .grade-painel {
        grid-template-columns: 20rem;
        margin: 0;
    }

    .busca-index form {
        width: 100%;
    }

    .sobre {
        margin: 1rem;
    }

    .form-login {
        width: 75%;
    }

    .grid-form {
        display: block;
    }

    .dropdown-content {
        bottom: -13rem;
    }
}